{% extends 'base.html' %}
{% load static %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<h1>All Blog Posts</h1>

{% for post in posts %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        <p class="post-meta">
            By {{ post.author.username }} 
            on {{ post.published_date|date:"F d, Y" }}
        </p>
        <div class="post-content">
            {{ post.content|linebreaks }}
        </div>
    </div>
{% empty %}
    <p>No posts available.</p>
{% endfor %}
{% endblock %}
